@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
// background: #D3D3D3;

:root{
  --foreground: theme("colors.gray.100");
  --background: theme("colors.green.900");
  --background-secondary: theme("colors.gray.800");
  --background-tertiary: theme("colors.gray.700");

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');

}

[data-theme='ghana'] {
  --foreground: theme("colors.gray.100");
  --background: theme("colors.yellow.900");
  --background-secondary: theme("colors.gray.800");
  --background-tertiary: theme("colors.yellow.600");

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}
[data-theme='senegal'] {
  --foreground: theme("colors.white");
  --background: theme("colors.black");
  --background-secondary: theme("colors.gray.800");
  --background-tertiary: theme("colors.gray.300");

  --accent: theme('colors.pink.400');
  --accent-primary: theme('colors.red.800');
  --accent-secondary: theme('colors.blue.800');
  --accent-tertiary: theme('colors.green.600');

  --primary: theme('colors.green.600');
  --primary-dark: theme('colors.green.900');
  --primary-medium: theme('colors.green.500');
  --primary-light: theme('colors.green.200');

  --secondary: theme('colors.yellow.300');
  --secondary-dark: theme('colors.yellow.700');
  --secondary-medium: theme('colors.yellow.500');
  --secondary-light: theme('colors.yellow.100');

  --tertiary: theme('colors.red.600');
  --tertiary-dark: theme('colors.red.900');
  --tertiary-medium: theme('colors.red.700');
  --tertiary-light: theme('colors.red.300');
}

[data-theme='mali'] {
  --foreground: theme("colors.gray.100");
  --background: theme("colors.red.900");
  --background-secondary: theme("colors.gray.800");
  --background-tertiary: theme("colors.gray.700");

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}

[data-theme='ethiopia'] {
  --foreground: theme("colors.gray.100");
  --background: theme(colors.red.900);
  --background-secondary: theme(colors.gray.800);
  --background-tertiary: theme(colors.gray.700);

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}

  
  // --secondary1: #ca6f00;

  // --background2: #000101;
  // --primary2: #6fbefb;
  // --secondary2: #014a82;

  // --background3: #020000;
  // --primary3: #ff7566;
  // --secondary3: #ca1300;

  // #021134
  // #092467
  // #11358E
  // #3053AB
  // #617EC7
  // #4E0E00
  // #4E3400
  // #4E4B00
  // #9A6800
  // #D49003
  // #FFBC31
  // #FFCF6C
  // #9A1B00
  // #FF5531
  // #FF866C
  // #D42703

  // rgb(234, 223,194)

  // Ghana colors
  // --background1: #E66600;
  // --primary1: #A11700;
  // --background2: #CFB829
  // --light: #F2FFCC
  // --dark: #000
  // --primary2: #
  
// rgb(230, 95, 10)
// rgb(161, 210, 0)



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    // background-image: url("../public/bg.jpg");
    // background: #9B0035;
    // background: #021134;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-header-wrapper {
  height: calc(100vh - 115px);
}

.hero-pix {
  background-image: url("../public/hero-pole.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: all 300ms ease;
    width: 40px;
    height: 40px;
    
    padding-top: 0;
    z-index: 10;
    &:hover{
      width: 60px;
      height: 60px;
    }
  }

  & .arrow-btn-left {
    left: 0;
  }
  
  & .arrow-btn-right {
    right: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.transition-all {
  transition: all 300ms ease;
}

.modal-show {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  // transition: all 3000ms ease !important;
}



/* -- create the quotation marks 
https://tailwindcomponents.com/component/blockquote
-- */

// blockquote{
//   quotes: "\201C""\201D""\2018""\2019";
// }

	// blockquote::before,
	// blockquote::after {
	// 	font-family: Montserrat;
	// 	position: absolute;
	// 	color: #039be5;
	// 	font-size: 34px;
	// }

	// blockquote::before {
	// 	content: "XXXX";
	// 	top: -12px;
	// 	margin-right: -20px;
	// 	right: 100%;
	// }

	// blockquote::after {
	// 	content: "&copy;";
	// 	margin-left: -20px;
	// 	left: 100%;
	// 	top: auto;
	// 	bottom: -20px;
	// }

  #quote {
    // display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.611), rgba(0, 0, 0, 0.556)), url("/quotes.svg") no-repeat;
    background-position: left 5px top 5px;
    background-size: 5%;
  }

  // blockquote::before {
  //   content:"\201C""\201D""\2018""\2019";;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: #039be5;
  //   z-index: -1;
  //   transform: skew(-10deg);
  //   transform-origin: 0 0;
  // }